image: gitlab.green-rabbit.net:5050/kimata/local-ubuntu:260104_3efe597c

variables:
    UV_LINK_MODE: copy
    UV_CACHE_DIR: .uv-cache
    PYRIGHT_PYTHON_FORCE_VERSION: latest

    UV_EXTRA_INDEX_URL: "http://proxy:3141/simple/"
    UV_INSECURE_HOST: "proxy"

stages:
    - pre-test
    - test
    - renovate

test-prepare:
    stage: pre-test

    needs: []

    script:
        - uv sync --locked --no-editable

    artifacts:
        paths:
            - ${UV_CACHE_DIR}
        expire_in: 1 hour

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

test-typecheck:
    stage: test

    needs:
        - test-prepare

    script:
        - uv run python -m pyright
        - uv run mypy src/
        - uv run ty check src/

    cache:
        - key:
              files:
                  - uv.lock
          paths:
              - ${UV_CACHE_DIR}

test-walk-through:
    stage: test

    needs:
        - test-prepare

    script:
        - apt update
        - apt install --no-install-recommends --assume-yes smem

        - uv run pytest tests/unit/

    artifacts:
        when: always
        paths:
            - reports/**
        reports:
            junit: reports/junit-report.xml

renovate:
    stage: renovate
    image:
        name: gitlab.green-rabbit.net:5050/kimata/local-renovate:260104_3da7b77b

        entrypoint: [""]
    script:
        - renovate --platform gitlab --token ${RENOVATE_TOKEN} --endpoint ${CI_SERVER_URL}/api/v4 ${CI_PROJECT_PATH}
    rules:
        - if: '$CI_COMMIT_BRANCH != "master"'
          when: never
        - if: '$CI_PIPELINE_SOURCE == "schedule"'
        - changes:
              - renovate.json
